swagger: "2.0"
info:
  description: "This document describes the API for interacting with AutoMATES GrFN."
  version: "1.0.0"
  title: "AutoMATES API Details"
  termsOfService: ""
  contact:
    email: "claytonm@arizona.edu"
  license:
    name: "Modified Apache 2.0"
    url: "https://github.com/ml4ai/automates/blob/master/LICENSE.txt"
host: "hopper.sista.arizona.edu"
basePath: "/api/v1/"
tags:
- name: "translate"
  description: "Calls to interact with GrFN translation"
  # externalDocs:
  #   description: "Find out more"
  #   url: "http://swagger.io"
- name: "extract"
  description: "Calls to interact with a GrFN and extract information"
- name: "execute"
  description: "Calls to execute GrFN models"
  # externalDocs:
  #   description: "Find out more about our store"
  #   url: "http://swagger.io"
schemes:
- "https"
- "http"
paths:
  /translate:
    post:
      tags:
      - "translate"
      summary: "Translate to GrFN or GroMEt json for given source files"
      description: ""
      operationId: "translate"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Object representing the source code and documentation to translate into GrFN or GroMEt"
        required: true
        schema:
          $ref: "#/definitions/Source"
      responses:
        "200":
          description: "Successful operation"
          schema:
            $ref: "#/definitions/ModelResult"
        "400":
          description: "Invalid input"
          schema:
            $ref: "#/definitions/ApiResponse"
        "500":
          description: "Internal error"
          schema:
            $ref: "#/definitions/ApiResponse"
      # security:
      # - petstore_auth:
      #   - "write:pets"
      #   - "read:pets"
  /extract/dynamics:
    post:
      tags:
      - "extract"
      summary: "Given a GrFN, searches for potential portions of the GrFN that represent the model dynamics and returns a list of these sub graphs."
      description: ""
      operationId: "extract_dynamics"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Object representing the GrFN to find model dynamics within"
        required: true
        schema:
          type: "object"
          properties: 
            grfn:
              description: "A GrFN object as defined here https://ml4ai.github.io/automates-v2/grfn_v3.0.0.html"
              type: "object"
      responses:
        "200":
          description: "Successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ModelResult"
        "400":
          description: "Invalid input"
          schema:
            $ref: "#/definitions/ApiResponse"
        "500":
          description: "Internal error"
          schema:
            $ref: "#/definitions/ApiResponse"
  /extract/variable_io:
    post:
      tags:
      - "extract"
      summary: "Determine the input/output variable information for a GrFN."
      description: ""
      operationId: "extract_variable_io"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "The GrFN we are detecting variable IO information in."
        required: true
        schema:
          type: "object"
          properties: 
            grfn:
              description: "A GrFN object as defined here https://ml4ai.github.io/automates-v2/grfn_v3.0.0.html"
              type: "object"
      responses:
        "200":
          description: "Successful operation"
          schema:
            $ref: "#/definitions/VariableIO"
        "400":
          description: "Invalid input"
          schema:
            $ref: "#/definitions/ApiResponse"
        "500":
          description: "Internal error"
          schema:
            $ref: "#/definitions/ApiResponse"
      # security:
      # - petstore_auth:
      #   - "write:pets"
      #   - "read:pets"
  /extract/gromet/variable_io:
    post:
      tags:
      - "extract"
      summary: "Determine the input/output variable information for a GroMEt."
      description: ""
      operationId: "extract_gromet_variable_io"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "The GroMet we are detecting variable IO information in."
        required: true
        schema:
          type: "object"
          properties: 
            gromet:
              description: "A GroMet object"
              type: "object"
      responses:
        "200":
          description: "Successful operation"
          schema:
            $ref: "#/definitions/GroMEtIO"
        "400":
          description: "Invalid input"
          schema:
            $ref: "#/definitions/ApiResponse"
        "500":
          description: "Internal error"
          schema:
            $ref: "#/definitions/ApiResponse"
      # security:
      # - petstore_auth:
      #   - "write:pets"
      #   - "read:pets"
  /execute/grfn:
    post:
      tags:
      - "execute"
      summary: "Executes a GrFN with given inputs and provides the results."
      description: ""
      operationId: "execute"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Object containing GrFN json and describing inputs for execution"
        required: true
        schema:
          $ref: "#/definitions/Execution"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/ExecutionResult"
        "400":
          description: "Invalid input"
          schema:
            $ref: "#/definitions/ApiResponse"
        "500":
          description: "Internal error"
          schema:
            $ref: "#/definitions/ApiResponse"
      # security:
      # - petstore_auth:
      #   - "write:pets"
      #   - "read:pets"
  /execute/gromet_experiment:
    post:
      tags:
      - "execute"
      summary: "Executes a GroMEt experiment."
      description: ""
      operationId: "gromet_experiment"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Object containing GroMEt json and describing expirement conditions."
        required: true
        schema:
          type: "object"
          properties:
              experiment:
                $ref: "#/definitions/GroMEtExecution"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/GroMEtExecutionResult"
        "400":
          description: "Invalid input"
          schema:
            $ref: "#/definitions/ApiResponse"
        "500":
          description: "Internal error"
          schema:
            $ref: "#/definitions/ApiResponse"
      # security:
      # - petstore_auth:
      #   - "write:pets"
      #   - "read:pets"

# securityDefinitions:
#   petstore_auth:
#     type: "oauth2"
#     authorizationUrl: "http://petstore.swagger.io/oauth/dialog"
#     flow: "implicit"
#     scopes:
#       write:pets: "modify pets in your account"
#       read:pets: "read your pets"
#   api_key:
#     type: "apiKey"
#     name: "api_key"
#     in: "header"
    
definitions:

  Source:
    type: "object"
    properties:
      source_code_files:
        type: "array"
        items:
          type: "object"
          properties:
            file_name:
              type: "string"
            file_type: 
              type: "string"
            base64_encoding: 
              type: "string"
      documentation_files:
        type: "array"
        items:
          type: "object"
          properties:
            file_name:
              type: "string"
            file_type: 
              type: "string"
            base64_encoding: 
              type: "string"
      source_language:
        description: "Specifies the source language for all supplied source code files. For a particular language, all files provided should be compilable from flat directory with a single compile command for the language. I.e. given c, all of the files given must be compilable via \"gcc file1.c file2.c ... fileN.c\""
        type: "string"
        enum:
          - c
          - fortran
          - python
      output_model:
        type: "string"
        enum: 
          - GROMET
          - GRFN
          
  ModelResult:
    type: "object"
    properties:
      model:
        description: "Either a GrFN object as defined here https://ml4ai.github.io/automates-v2/grfn_v3.0.0.html or a gromet model as defined https://ml4ai.github.io/automates-v2/grfn_v3.0.0.html"
        type: "object"
      variable_io:
        type: "object"
        $ref: "#/definitions/VariableIO"
        
  GroMEtIO:
    type: object
    properties:
      inputs:
        type: array
        items: 
          type: object
          properties:
            gromet_identifier: 
              type: string
            type:
              type: string
              enum:
                - int
                - float
                - string
                - list
            required:
              description: "Indicates if a value for this input is required to execute the GroMEt"
              type: boolean
      outputs:
        type: array
        items: 
          type: object
          properties:
            gromet_identifier: 
              type: string
            type:
              type: string
              enum:
                - int
                - float
                - string
                - list   
  
  VariableIO:
    type: "object"
    properties:
      execution_inputs:
        type: "array"
        items: 
          type: "object"
          properties:
            variable_identifier: 
              type: "string"
            variable_type:
              type: "string"
              enum:
                - int
                - float
                - string
                - list
            required:
              description: "Indicates if a value for this input is required to execute the GrFN"
              type: "boolean"
      execution_outputs:
        type: "array"
        items: 
          type: "object"
          properties:
            variable_identifier: 
              type: "string"
            variable_type:
              type: "string"
              enum:
                - int
                - float
                - string
                - list   
                
  Execution:
    type: "object"
    properties:
      inputs:
        type: "array"
        items:
          type: "object"
          properties: 
            variable_identifier: 
              type: "string"
            value: 
              description: "The arrays of this item should match the type of the variable. All value arrays of input variables must be the same length for vectorized execution to work."
              type: "array"
              items:
                type: "object"
      grfn:
        description: "A GrFN object as defined here https://ml4ai.github.io/automates-v2/grfn_v3.0.0.html"
        type: "object"
        
  ExecutionResult:
    type: "object"
    properties:
      outputs:
        type: "array"
        items:
          type: "object"
          properties: 
            variable_name: 
              type: "string"
            results: 
              type: "array"
              items:
                type: "string"
    
  ApiResponse:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
      type:
        type: "string"
      message:
        description: "success or describes the encountered error"
        type: "string"
        
  GroMEtExecution:
    type: object
    properties:
      definition:
        type: object
        properties:
          type: 
            type: string
            description: "The type of GroMEt this is. For AutoMATEs purposes, this will be a function network."
          source: 
            type: string
            description: "The json string of the GroMEt model to execute. It will have the following structure: '{ \"model\": \" GroMEt Model String \" }'"
      start:
        type: integer
        description: "The starting value for our domain parameter."
      end:
        type: integer
        description: "The ending value for our domain parameter."
      step:
        type: integer
        description: "The step size to calculate all execution points between start and end for our domain parameter."
      domain_parameter:
        type: string
        description: "The GroMEt UID (source Port or Junction) of the domain parameter to be controlled by start/end/step."
      parameters:
        description: "A map of GroMEt UIDs (source Port or Junction) to their initial value for execution."
        type: object
        additionalProperties:
          type: integer
      outputs:
        description: "A list of GroMEt UIDs (exit Port or Junction) for the final values to observe after execution."
        type: array
        items:
          type: string

  GroMEtExecutionResult:
    type: object
    properties:
      status: 
        description: "If the execution succedded or failed."
        type: string
        enum: 
        - "success"
        - "failure"
      result:
        description: "Results for the requested outputs and domain parameter."
        type: object
        properties:
          values:
            description: "A map of GroMEt UIDs (exit Port or Junction) to their result values. For each output specified in outputs in the input message, the key will be the GroMEt UID and the value will be the list of its results."
            type: object
            additionalProperties:
              type: array
              items:
                type: number
          domain_parameter:
            description: "The resulting values from execution for the described domain parameter in the input."
            type: array
            items:
              type: integer


  # NOTE For the initial ASKE demo, we wont use this complex of a message for
  # gromet executions. We might change back to this into the future.
  # Measure: 
  #   type: "object"
  #   properties:
  #     measure_id:
  #       type: "string"
  #       description: "UID of this Measure object."
  #     source:
  #       type: "string"
  #       description: "UID of either the Port or Junction source for this Measure"
  #     interval:
  #       description: ""
  #       type: "object"
  #       properties:
  #         type:
  #           type: "string"
  #           enum:
  #           - TIME_POINTS
  #           - TUPLE
  #         items:
  #           type: "array"
  #           items: 
  #             type: "number"
  #     type:
  #       type: "string"
  #       enum:
  #       - M:instance
  #       - M:interval
  #       - M:steady_state

  # Fold:
  #   type: "object"
  #   properties:
  #     args:
  #       type: "array"
  #       items:
  #         description: "Each item is either a UID string representing the UID of a Measure for input or is another Fold object to calculate as input."
  #         type: object
  #     expression:
  #       type: "object"
  #       description: "A GroMEt expression object as defined here: https://github.com/ml4ai/automates/blob/e99c0d0c5479c2ac35e884c2837db4569a0662bf/scripts/gromet/gromet.py#L457"
        
  # ParameterAssignment:
  #   type: "object"
  #   properties:
  #     value:
  #       type: "string"
  #     value_type:
  #       type: "string"
  #     source:
  #       type: "string"
  #       description: "UID of the source Port or Junction"
    
      
  # ExperimentSpec:
  #   type: "object"
  #   properties:
  #     gromet:
  #       type: "object"
  #       description: "A GroMEt object as defined here: https://github.com/ml4ai/automates/blob/e99c0d0c5479c2ac35e884c2837db4569a0662bf/scripts/gromet/gromet.py"
        
  #     measures:
  #       type: "array"
  #       items:
  #         $ref: "#/definitions/Measure"
          
  #     folds:
  #       type: "array"
  #       items:
  #         $ref: "#/definitions/Fold"
              
  #     parameters:
  #       type: "array"
  #       items:
  #         type: "object"
  #         $ref: "#/definitions/ParameterAssignment"

  # ExperimentResult:
  #   type: "object"
  #   properties:
  #     measure_uid:
  #       description: "The UID of the Measure these results correspond to."
  #       type: "string"
  #     results:
  #       description: "A list of results for the inputs of the Measure."
  #       type: "array"
  #       items:
  #         type: "object"
      
  # ExperimentResults:
  #   type: "array"
  #   items:
  #     $ref: "#/definitions/ExperimentResult"
      
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"